<section id="site-intro">
  {{ with .Site.Params.intro.pic }}<a href="{{ "/" | relLangURL}}"><img src="{{ .src | relURL }}" class="{{ .shape }}" width="{{ .width }}" alt="{{ .alt }}" /></a>{{ end }}
  <header>
    {{ with .Site.Params.intro.header }}<h1>{{ . | safeHTML }}</h1>{{ end }}
  </header>
  <main>
    {{ with .Site.Params.intro.paragraph }}<p>{{ . | safeHTML }}</p>{{ end }}
  </main>
  {{ if or (.Site.Params.intro.rssIntro) (.Site.Params.intro.socialIntro) }}
    <footer>
      <ul class="social-icons">
        {{ if .Site.Params.intro.rssIntro }}{{ partial "rss-icon" . }}{{ end }}
        {{ if .Site.Params.intro.socialIntro }}{{ partial "social-icon" . }}{{ end }}
        <!-- <a href="https://qiita.com/hyo_07" target="_blank"><i class="fas fa-search fa-stack-1x fa-inverse fa-2x" style="font-size: 0.85em; margin-top: 8px; margin-left: 8px"></i></a> -->
        <a href="https://qiita.com/hyo_07" target="_blank">
          <span class="fa-stack" style="color:#8f8f8f; font-size: 0.54em; margin-top: 0; margin-left: 8px; margin-right: 8px">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-search fa-stack-1x fa-inverse fa-2x"></i>
          </span>
        </a>
        <a href="https://www.wantedly.com/users/77358513" target="_blank"><i class="fab fa-wikipedia-w" style="font-size: 0.85em; margin-top: 8px; margin-left: 8px"></i></a>
      </ul>
    </footer>
  {{ end }}
</section>
